*{
  margin: 0;
}
html{
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f5fa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/***********************************************************/
.blue{
  color: #002984;
}
.red{
  color: #d32f2f;
}
.green{
  color: #43a047;
}

.grey{
  color:#90a4ae;
}
.infobox_card_red{
  border-bottom: 10px solid #d32f2f;
}

.infobox_card_green{
  border-bottom: 10px solid #43a047;
}

.infobox_card_grey{
  border-bottom: 10px solid #90a4ae;
}

.infobox_card_blue{
  border-bottom: 10px solid #002984;
}
.app__header{
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.stats{
  display: flex;
  justify-content: space-between;
}
.App{
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  background: radial-gradient(circle at center,#6dd5ed, #070ad4);
}
.App__left{
  flex:0.5;
  margin: 20px 30px;
}
.App__right{
  flex:0.5;
  margin: 20px 10px;
}
@media (max-width: 990px) {
  .App {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .stats{
    overflow-x: scroll;
  }
  .infobox{
    margin: auto 10px;
  }
}

.table{
  width: 100%;
  margin-top: 20px;
  overflow-y: scroll;
  height: 420px;
  background: #10fae5;
}
.infobox{
  flex:1;
}
.table__body{
/* background-color: red; */
display: flex;
justify-content: space-between;
}
.table__body td{
  margin-right: 20px;
  color: blue;
}

.table__body:nth-of-type(odd){
  background-color: #d1f9f5;
}


.map {
  height: 300px;
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 16px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}

.map .leaflet-container {
  height: 100%;
  border-radius: 12px;
}

.info-flag img {
  width: 100px;
  border-radius: 5px;
}

.info-name {
  font-size: 20px;
  font-weight: bold;
  color: #555;
}

.info-container {
  width: 150px;
}

.info-flag {
  height: 80px;
  width: 100%;
  background-size: cover;
  border-radius: 8px;
}

.info-confirmed,
.info-recovered,
.info-deaths {
  font-size: 16px;
  margin-top: 5px;
}


/*********************************************/
.type-body{
  background: #333;
  width: 100%;
  padding-top: 3em;
  padding-bottom: 2em;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 50px;
  box-shadow: 5px 5px 15px -5px rgba(0 ,0,0,0.5);
  z-index: 100;
}

.typewriter h1 {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 5.5s steps(30, end),
    blink-caret .5s step-end infinite;
}


/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

.fade{
  opacity: 0.1;
  animation: 2s fadetext ease-in-out forwards 0.1s;
}
@keyframes fadetext {
  100% {
    opacity: 1;
  }
}

.image-adjust{
  /* margin: 0px auto; */
  text-align: center;
}
.image{
  opacity: 1;
  position: relative;
  transition: .5s ease;
  backface-visibility: hidden;
  background-color: blue;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
}
.image-adjust:hover .image{
  opacity: 0.3;
}

.image-adjust:hover .middle {
  opacity: 1;
}

.text {
  color: black;
  font-size: 16px;
  padding: 16px 32px;
}
.about-icon{
  color: black;
  margin: 5px;
}


.mediaimage{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  object-fit: cover;
}
.media-body{
  margin: auto 0;
}
.heading-text{
  color: #97c74e;
  margin: 50px 0px;
}
.heading-text2{
  color: #2ab9a5;
  margin: 50px 0px;
}
.heading-text3{
  color: #3355ff ;
}

.apphead{
  color:   white ;
  max-width: 600px;
  transform: translateX(-200px);
  animation: 1.2s slideIn ease-in-out forwards 1s;
  z-index: 10;
  opacity: 0;
}

@keyframes slideIn {
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.chatbox{
  position: absolute;
  right:20px;
  bottom:30px;
}
.chatbutton{
  min-width: 50px;
  min-height: 50px;
  border-radius: 100%;
  border-style: none;
  box-shadow: 0 0 8px -4px #ffffff;
  background-color: #97c74e;
}
